#compilation target
/fitswebql

#emacs
*~

#sqlite db files
*.db

#ispc output files
/fits.*

#Intel C/C++ Compiler optimizer reports
*.optrpt

#Apple
**/*.DS_Store

#Microsoft Visual Code IDE
/.vscode/

