#compilation target
/fitswebql
/inet

#emacs
*~
/src/.emacs.desktop.lock
/src/.emacs.desktop

#sqlite db files
*.db

#ispc output files
/fits.*

#Intel C/C++ Compiler optimizer reports
*.optrpt

#Apple
**/*.DS_Store

#Microsoft Visual Code IDE
/.vscode/

#ZFP build directory
/zfp-0.5.4/build
/zfp-0.5.4/examples
/zfp-0.5.4/include
/zfp-0.5.4/lib
/zfp-0.5.4/tests
/zfp-0.5.4/utils
