#compilation target
/fitswebql
/inet
/a.out
/memory_usage.csv

#emacs
*~
/src/.emacs.desktop.lock
/src/.emacs.desktop

#sqlite db files
*.db

#ispc output files
/fits.*

#object files
*.o

#dependencies
*.d

#Intel C/C++ Compiler optimizer reports
*.optrpt

#Apple
**/*.DS_Store
fitswebql.dSYM/*
a.out.dSYM/*

#Microsoft Visual Code IDE
/.vscode/

#ZFP build directory
/zfp-0.5.4/build
/zfp-0.5.4/examples
/zfp-0.5.4/include
/zfp-0.5.4/lib
/zfp-0.5.4/tests
/zfp-0.5.4/utils
